.main-form {
    width: 50%;
    margin: 50px;
}
.form-fields {
    display: flex;
    width: 50%;
    // @include buttonstyle
}
.fields {
    width: 100%;
}
// minx buttonstyle {
//     color: #000;
// }