<div>
    <p>Main area</p>
    <div class="main-form">
        <form (ngSubmit)="onSubmit()" [formGroup]="formInput">
            <div class="form-fields">
                <div class="fields">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Age</mat-label>
                        <input type="number" matInput formControlName="age">
                    </mat-form-field>
                </div>
                <div class="fields">
                    <button mat-button type="submit">Submit</button>
                </div>
            </div>
        </form>
        <app-result-component [new_age_object]="new_age_object"></app-result-component>
    </div>

</div>
